.App {
  text-align: center;
}

.App-logo {
  border-radius: 50%;
  padding: 4em;
  height: 70vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #001d9e;
}


.Inicio-header{
  background-color: aqua;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Inicio-footer{
  background-color: #1e1e1e;
  display: block;


}
.botonRetorno{
display: inline-block;
}
.navbar > .container {
  max-width: 100%;
  margin: 0;
  padding-left: 1vh;
  padding-right: 0vh;
}
.navbar {
  margin: 0;
  padding: 0;
}
.text-nav
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00adff;
  z-index: 1;
  mix-blend-mode: color;

  
  filter: blur(.6px);
  text-transform: initial;
  text-shadow: 0 0 1px rgba(255, 255, 255, 1),
               0 0 2px rgba(255, 255, 255, 1),
               0 0 4px rgba(255, 255, 255, 1),
               0 0 8px rgba(255, 255, 255, 1),
               0 0 16px rgba(255, 255, 255, 1);
}
.navbar-dark .navbar-nav .nav-link{
  font-size: 15px;
  
  font-weight: 100;
  color: rgb(169, 229, 183);
}
.navbar-dark .navbar-brand{
  font-size: 18px;
  font-family: "press Start 2p", "consolas", "sans-serif";
  font-weight: 100;
  color: #410f38;
}
.iLogo{
  
  border-radius: 50%;
  width: 30px;
  
  height: 30px;
}
.boton-info{
  aspect-ratio: 1;
  border-radius:50%;
  display: grid;
  padding: 0;
  place-items: center;
  border: .6px solid #2231df;
}
.offcanvas > .offcanvas-body{
  background-color: #1e1e1e;
}
.offcanvas > .offcanvas-header{
  background-color: #1e1e1e;
  color:#00adff;
}

.info-canvas{
  color: aqua;
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
